@import "changeFx";

$brBlue: #6E82E5;
$dkBlue: #0C29B8;
$dkPurple: #421195;
$brViolet: #730570;
$dkViolet: #260725;

.footernight{
    color: #ffffff;
}
.contnight{
    background-color: $dkPurple;
}

.btndark{
    @include changes($dkViolet, #ffffff);
    &::after{
        content: "Night";
    }
  }

.h1night{
    @include changes(none, $brBlue);
}

.ipsumnight{
    @include changes(none, $brBlue);
}

.middlenight{
    @include changes($brBlue, $dkViolet);
}

.thirdnight{
    @include changes($brViolet, #ffffff);
}